* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Lato", sans-serif;
	scroll-behavior: smooth;
	margin: 0 auto;
}

img {
	display: block;
	max-width: 100%;
}

a {
	text-decoration: none;
}

.top {
	max-width: 1600px;
	margin: 0 auto;
}

.container {
	padding-left: calc(50% - 570px);
	padding-right: calc(50% - 570px);
	/* padding-left: 230px;
	padding-right: 230px; */
}

.header {
	background-color: black;
	display: flex;
	justify-content: space-between;
}

.header button {
	background-color: black;
	border: none;
}
.header__left {
	display: flex;
	padding: 18px 0 18px;
}

.header__left_btn {
	margin-left: 41px;
}

.header__right {
	display: flex;
	padding: 20px 0 20px;
	gap: 33px;
	position: relative;
}
.header__right_btn-basket{
	position: relative;
}
.header__right_circle{
	border-radius: 50%;
    width: 19px;
    height: 19px;
	align-content: center;
	text-align: center;
	font-size: 12px;
    position: absolute;
	top: 15px;
	right: -10px;
	background-color: #F16D7F;
	color: #ffffff;
}

.promo {
	/* max-width: 1600px; */
	background-color: #f1e4e6;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
}
.promo__img {
	max-width: 800px;
}

.promo__info {
	border-left: 12px solid #f16d7f;
	padding-left: 16px;
}
.promo__title {
	font-size: 48px;
	font-weight: 900;
	color: #222;
}
.promo__text {
	font-size: 32px;
	font-weight: 700;
	color: #222;
	display: contents;
}

.mobile-menu__box {
	display: none;
	flex-direction: column;
	gap: 20px;
	background-color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	width: 232px;
	padding: 32px;
}
.mobile-menu__close{
	position: absolute;
	background-image: url(./img/menu_close.svg);
	top: 0;
	right: 0;
	width: 40px;
    height: 40px;
    background-position: center;
    border: none;
    background-color: transparent;
}
.hidden{
	display: flex;
}
.mobile-menu__heading {
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
	padding-bottom: 24px;
}
.mobile-menu__title {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #F16D7F;
}
.mobile-menu__list {
	list-style-type: none;
	padding-left: 21px;
	display: flex;
	flex-direction: column;
	gap: 11px;
	margin-top: 12px;
}
.mobile-menu__link {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #6F6E6E;
}

.mobile-menu__link:hover {
	color: #F16D7F;
}
.span {
	color: #f16d7f;
	font-size: 32px;
	font-weight: 700;
}

.sale {
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(3, 1fr);
	padding-top: 64px;
	padding-bottom: 96px;
}
.sale__item {
	position: relative;
}

.sale__item::before {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(33, 22, 22, 0.7);
	width: 100%;
	height: 100%;
}

.sale__content {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.sale__item_big {
	grid-column: 1 / -1;
	position: relative;
}
.sale__item_big::before {
	content: " ";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(33, 22, 22, 0.7);
	width: 100%;
	height: 100%;
}
.big-image {
	min-height: 180px;
}

.sale__text {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	text-align: center;
	color: #ffffff;
}

.sale__heading {
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	text-align: center;
	color: #f16d7f;
}

.product-box {
	padding-bottom: 95px;
}

.product-box__heading {
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	text-align: center;
	color: #222222;
}

.product-box__text {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	text-align: center;
	margin-top: 6px;
	color: #9f9f9f;
}
.product-box__content {
	margin-top: 48px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	gap: 30px;
}

.product {
	position: relative;
}

.product:hover .product__img_hover {
	display: flex;
}
.product__img_hover{
	width: 100%;
	height: 70%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(58, 56, 56, 0.86);
	display: none;
}

.product__hover_btn{
	border: 1px solid rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	background-color: transparent;
	font-size: 14px;
	font-weight: 400;
	width: 139px;
	height: 44px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	gap: 11px;
	align-items: center;
	justify-content: center;
}
.product__hover_btn:hover{
	border-color: green;
}
.product__hover_basket{
	width: 25px;
	height: 24px;
}
.product__content {
	background: #F8F8F8;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 24px 16px;
	gap: 16px;
}

.product__heading {
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	color: #000000;
}

.product__text {
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	color: #5D5D5D;
}

.product__price {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #F16D7F;
}

.product__btn {
	border: 1px solid #f26376;
	font-weight: 400;
	font-size: 16px;
	color: #f26376;
	background: none;
    display: block;
    margin: 48px auto 0;
    padding: 15px 39px;
}
.product__btn:hover{
	border: 1px solid  #fff;;
	color:  #fff;
	background: #f26376;


}
.advantages {
	background-color: #222224;
	padding-top: 104px;
	padding-bottom: 104px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
}

.advantages__item {
	max-width: 360px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
}

.advantages__heading {
	font-weight: 400;
	font-size: 19px;
	color: #FBFBFB;
}

.advantages__text {
	font-weight: 400;
	font-size: 13px;
	text-align: center;
	color: #FBFBFB;
}
.reviews{
	background: center / cover no-repeat url(./img/serf.png);
	padding-top: 97px;
	padding-bottom: 127px;
	position: relative;
	z-index: -1;
	display: flex;
	justify-content: space-between;
    align-items: center;
}
.reviews::before{
	content: " ";
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	background: rgba(244, 244, 244, 0.7);

}
.review__item{
	display: grid;
	justify-items: center;
	gap: 30px;
	max-width: 360px;
}
.review__item_face{
	width: 96px;
	height: 96px;
}
.review__item_text{
	font-weight: 400;
	font-size: 20px;
	text-align: center;
	color: #222224;
}
.review__item_text span {
	font-style: italic;
}
.form {
	display: grid;
	justify-items: center;
	gap: 32px;
	text-align: center;
}
.form__label h2 {
	font-weight: 700;
	font-size: 24px;
}
.form__label_text {
	font-weight: 400;
	font-size: 18px;
}
.form__box{
	display: flex;
}
.form__input{
	width: 256px;
	height: 49px;
	font-weight: 400;
	font-size: 14px;
	color: #222224;
	opacity: 0.67;
	border-radius: 25px 0 0 25px;
	border: none;
	background-color: #e1e1e1;
	padding-left: 25px;

}
.form__button{
	font-weight: 400;
	font-size: 14px;
	text-align: center;
	color: #fff;
	background-color: #f16d7f;
	border-radius: 0 25px 25px 0;
	border: none;
	width: 100px;
	height: 49px;
}
.footer {
	background-color: #222224;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 24px;
	padding-bottom: 24px;
}
.footer__copyright{
	font-weight: 400;
	font-size: 16px;
	color: #fbfbfb;
}
.footer__icons{
	display: flex;
	gap: 7px;

}
.footer__link_frame{
	background-color: #ffffff;
	width: 31px;
	height: 31px;
	text-align: center;
    align-content: center;
}
.footer__link_frame:hover {
	background-color: #F16D7F;
}
.footer__link_frame:hover path {
	fill: #fff;
}


@media screen and (max-width: 768px) {
	.top {
		max-width: 768px;
	}
	.container {
		padding-left: 16px;
		padding-right: 16px;
	}
	.header {
		padding-left: 16px;
		padding-right: 16px;
	}
	.promo__img {
		max-width: 368px;
	}
	.promo__title {
		font-size: 44px;
	}
	.promo__text {
		font-size: 24px;
	}
	.span {
		font-size: 24px;
	}
	.sale {
		gap: 19px;
		padding-bottom: 109px;
	}
	.big-image {
		min-height: 116px;
	}
	.product-box {
		padding-bottom: 65px;
	}
	.product__img_hover{
		height: 73%;
	}
	.product-box__content {
		grid-template-columns: repeat(2, 1fr);
		gap: 16px;
	}
	.product__content {
		gap: 12px;
	}
	.advantages {
		padding-top: 48px;
		padding-bottom: 64px;
		flex-direction: column;
		gap: 48px;
		align-items: center;
	}
	.advantages__item {
		/* max-width: 360px; */
		gap: 20px;
	}
	.advantages__text {
		font-weight: 300;
	}
	.reviews{
		background: left / cover no-repeat url(./img/serf.png);
		padding-top: 64px;
		padding-bottom: 140px;
		display: grid;
		gap: 48px;
		justify-content: center;
	}
	.footer__copyright{
		padding-left: 16px;
	}
	.footer__icons{
		padding-right: 16px;
	}
}

@media screen and (max-width: 375px) {
	.top {
		max-width: 375px;
	}
	.header__right_btn-basket {
		visibility: hidden;
		position: absolute;
	}
	.header__right_btn-reg {
		visibility: hidden;
		position: absolute;
	}
	.promo__img{
		visibility: hidden;
		position: absolute;
	}
	.promo__content {
		padding: 148px 16px;
	}
	.promo__title {
		font-size: 38px;
	}
	.promo__text {
		font-size: 20px;
	}
	.span {
		font-size: 20px;
	}
	.sale {
		gap: 32px;
		grid-template-columns: 1fr;
		padding-bottom: 64px;
	}
	.big-image {
		object-fit: cover;
		min-height: 111px;
	}
	.product-box {
		padding-bottom: 96px;
	}
	.product-box__content {
		grid-template-columns: 1fr;
		gap: 16px;
	}
	.product__text{
		font-weight: 400;
	}
	.product__btn {
		margin-top: 40px;
		padding: 15px 39px;
	}
	.product__img_hover {
        height: 71%;
    }
	.advantages {
		padding-bottom: 81px;
		flex-direction: column;
		gap: 46px;
	}
	.advantages__item {
		max-width: 343px;
		gap: 18px;
	}
	.advantages__text {
		font-size: 13px;
	}
	.reviews{
		padding-bottom: 109px;
		gap: 59px;
	}
	.review__item_face{
		width: 91px;
		height: 91px;
	}
	.review__item_text{
		font-size: 18px;
	}
	.form {
		gap: 22px;
	}
	.form__label_text {
		font-size: 14px;
	}
	.form__input{
		width: 200px;
		height: 46px;
		border-radius: 23px 0 0 23px;
		padding-left: 20px;
	}
	.form__button{
		border-radius: 0 23px 23px 0;
		width: 95px;
		height: 46px;
	}
	.footer {
		flex-direction: column-reverse;
		gap: 40px;
		padding-top: 43px;
		padding-bottom: 9px;
	}
	.footer__copyright{
		text-align: center;
	}
}